body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2672px;
  height:2668px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2672px;
  height:2668px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1326px;
  width:2668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2828px;
  height:3488px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:2828px;
  height:3488px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1736px;
  width:2824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:877px;
  top:570px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:470px;
  width:1080px;
  height:206px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:47px;
  top:121px;
  width:60px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:673px;
  width:1009px;
  height:415px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:46px;
  top:122px;
  width:61px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:54px;
  top:654px;
  width:110px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:48px;
  top:121px;
  width:55px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state6 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:546px;
  width:1080px;
  height:322px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state7 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:44px;
  top:124px;
  width:66px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state8 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u30 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:1839px;
  width:1080px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4_state9 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2340px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:45px;
  top:123px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:954px;
  top:2780px;
  width:64px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:1172px;
  top:2780px;
  width:61px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:1389px;
  top:2783px;
  width:59px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:1606px;
  top:2781px;
  width:58px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:1823px;
  top:2783px;
  width:57px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
